#header-wrapper {
    max-width:800px;
}

.important-dates li {
    color: white;
    font-size: 1.2em;
}
.important-dates a {
    color: white;
}

.author-list {
    margin-bottom: 15px;
}

.item-other .title {
    font-style: italic;
}
#time-zone-disclaimer {
    font-style: italic;
    color: #222222;
    text-align: center;
    width: 70%;
    font-size: 1.3em;
}

.panel-sponsor {
    font-size: 1.1em;
}

#hero-block {
    height: 670px;
}
