#header-wrapper {
    max-width:800px;
}

.important-dates li {
    color: white;
    font-size: 1.2em;
}
.important-dates a {
    color: white;
}

.author-list {
    margin-bottom: 15px;
}

.item-other .title {
    font-style: italic;
}
#time-zone-disclaimer {
    font-style: italic;
    color: #555555;
    text-align: center;
    width: 50%;
}
